<%- include("partials/header"); -%>

<main role="main" class="container">
  <h1 class="mt-5">Welcome &nbsp;&nbsp;&nbsp;&nbsp;  <i class="far fa-smile"></i> <%= user %></h1>
  <p class="lead">This site Developed " Django Project with PostgreSQL & Deploy on Heroku "</p>
  <p>
    <a href="/users/logout">LogOut</a>

<hr style="margin: 60px auto; opacity: .5;">

 
        <p>
          <a href="https://github.com/fatihkgm/AuthenticationApp-With-Django-and-PostgreSQL">Please have a look my DJANGO-AUTHENTICATIONAPP used and developed by PostgreSQL for task 2</a><br>
           <a href="https://fgokmen.herokuapp.com/gradvisory">Capstone Project "Developed tiwh 4 teams" - Django and deployed Heroku </a><br>
            <a href="https://fgokmen.herokuapp.com/post">Built enterprise-level React applications and deployed them to Heroku. </a><br><br>

            <p>Hello Jheel Patel,</p> 

            <p>Thank you for taking the time to learn more about my candidacy. I look forward to speaking soon and learning more about LearnerIA.</p>
            <p>i was going to buy bootstrap template and make my tasks more stylish,however i had  other projects and assignments to be completed .</p><b>

      </p>
  </p>
</main>

<%- include("partials/footer"); -%>
