<%- include("partials/header"); -%>

<main role="main" class="container text-center">
  <h1 class="mt-5">Hello there</h1>
  <p class="lead">Learners.ai Full-stack developer Intern.Task2</p>
  <p>
    <a href="/users/login" class="btn btn-lg btn-primary">Login Here</a>
    <a href="/users/register" class="btn btn-lg btn-primary">Register Here</a>
  </p>
</main>

<%- include("partials/footer"); -%>
